@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

body * {
  -webkit-user-drag: none;
}

.links h2 :hover {
  cursor: pointer;
}
.links {
  @apply py-1.5 px-11 2xl:py-2 2xl:px-12 rounded-full;
  z-index: 30;
}

@supports (animation-timeline: scroll()) {
  .header-animate-2xl {
    position: fixed;
    animation: header-expand-2xl linear forwards;
    animation-timeline: scroll();
  }
  .header-animate-xl {
    position: fixed;
    animation: header-expand-xl linear forwards;
    animation-timeline: scroll();
  }
  .timeline {
    display: none;
    border-radius: 999px;
    width: 97%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: left top;
    animation: header-expand-2xl-timeline linear forwards;
    animation-timeline: scroll();
  }
  .header-animate-4xl {
    position: fixed;
    animation: header-expand-4xl linear forwards;
    animation-timeline: scroll();
  }
  .header-animate-lg {
    position: fixed;
    animation: header-expand-lg linear forwards;
    animation-timeline: scroll();
  }
}

@keyframes header-expand-2xl-timeline {
  0% {
    transform: scaleX(0);
  }
  15% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes header-expand-2xl {
  0% {
    width: 45%;
    background-color: transparent;
    top: 7vh;
    transform: translate(-50%, -50%);
  }
  15% {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 75%;
    transform: translate(-50%, 0);
    top: 10px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    width: 75%;
    transform: translate(-50%, 0);
    top: 10px;
  }
}
@keyframes header-expand-4xl {
  0% {
    width: 60%;
    background-color: transparent;
    top: 7vh;
    transform: translate(-50%, -50%);
  }
  15% {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 80%;
    transform: translate(-50%, 0);
    top: 10px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    width: 80%;
    transform: translate(-50%, 0);
    top: 10px;
  }
}
@keyframes header-expand-lg {
  0% {
    width: 60%;
    background-color: transparent;
    top: 7vh;
    transform: translate(-50%, -50%);
  }
  15% {
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(4px);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    width: 85%;
    transform: translate(-50%, 0);
    top: 10px;
  }
  100% {
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(4px);
    width: 85%;
    transform: translate(-50%, 0);
    top: 10px;
  }
}

.hero_heading {
  @apply select-none tracking-[0.3em] text-4xl md:text-3xl 2xl:text-[68px] desktop:text-[88px] mb-4 text-center;
  text-shadow: 1px 1px 12px rgba(0, 0, 0, 0.2);
}
.hero_subheading {
  @apply w-full text-center 2xl:mt-5 text-base 2xl:text-xl tracking-[0.22em] xl:tracking-[0.27em];
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.offer {
  @apply relative h-[21rem] lg:h-[25rem] w-full lg:w-1/3 border-solid border-brand-whiteish rounded-3xl py-6 px-8 lg:py-12 lg:px-12 flex gap-8 flex-col justify-between text-white;
}
.offer h1 {
  @apply text-2xl xl:text-[1.6rem] tracking-[0.2em] text-center;
}
.offer h2 {
  @apply text-3xl xl:text-4xl tracking-[0.1em] text-center;
}
.offer h2 span {
  @apply text-sm tracking-wider mr-0.5;
}
.offer div {
  @apply flex gap-3 flex-col justify-between tracking-widest;
}
.offer div p {
  @apply xl:text-lg;
}
.offer:first-child::before,
.offer:last-child::before {
  @apply bg-gradient-to-br from-brand-prim/60 rounded-[calc(1.5rem+2px)] via-40% via-brand-prim/60 to-brand-sec/60;
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -2;
}
.offer:first-child::after,
.offer:last-child::after {
  @apply bg-brand-dark rounded-3xl;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
.missionItem {
  position: relative;
  transition: all 2s ease-in-out;
}
.review {
  @apply min-h-48 py-8 px-8 rounded-2xl bg-gray-200/20 flex flex-col text-center justify-center items-center gap-3;
}
.review h2 {
  @apply text-center text-3xl leading-[2.75rem] tracking-[0.18em];
}
.review p {
  @apply italic leading-[1.8rem] tracking-[0.2em];
}
.review p::before,
.review p::after {
  @apply italic;
  content: '"';
}
.missionItem:hover::before {
  @apply bg-gradient-to-br from-brand-prim/60 rounded-[calc(0.75rem+2px)] via-40% via-brand-prim/60 to-brand-sec/60;
  content: "";
  position: absolute;
  top: -2px;
  right: -2px;
  bottom: -2px;
  left: -2px;
  z-index: -2;
}
.missionItem::after {
  @apply bg-brand-dark rounded-xl;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
#offer-mid {
  @apply bg-gradient-to-br from-brand-prim/60 via-40% via-brand-prim/60 to-brand-sec/60 border-2 border-brand-whiteish/50;
}

.offer:first-child,
.offer:last-child {
  @apply bg-gray-600/50;
}

.Fade_In_Elem,
.Fade_In_Elem_Less {
  opacity: 0;
  transition: all 1.2s ease-out;
}

.SM_Fade_In {
  opacity: 1;
}

.form {
  @apply flex flex-col items-center justify-center gap-8 xl:gap-12 w-full px-12 xl:px-32 tracking-widest;
}
.form input,
.form textarea {
  @apply px-3 w-full xl:w-[30vw] h-12 border-solid border-[2px] border-gray-200/60 rounded-2xl bg-gradient-to-br from-brand-dark/60 to-brand-dark/90;
}
.form textarea {
  @apply h-32 w-full xl:w-[50vw] py-2;
}
.form div p {
  @apply font-light tracking-[0.2em] xl:text-lg;
}
.form > div {
  @apply flex gap-2 flex-col items-center w-full;
}
.option-enabled {
  @apply relative border-gradient py-2 px-5 lg:px-8 xl:text-lg rounded-full bg-gradient-to-br from-gray-200/50 to-gray-200/20;
}

.option-enabled::before {
  @apply bg-brand-dark rounded-full;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -2;
}

.border-gradient {
  border: 2px solid transparent;
  background: linear-gradient(to right, rgb(34, 34, 34), rgb(34, 34, 34)),
    linear-gradient(
      to bottom right,
      rgb(255 128 11 / 0.6),
      rgb(250 255 0 / 0.6)
    );
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}
.option-disabled {
  @apply py-2 px-5 lg:px-8 xl:text-lg rounded-full border-2 border-solid border-gray-300/60;
}

.spinner {
  border: 3px solid #f3f3f3;
  border-top: 3px solid #3498db;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  animation: spin 2s cubic-bezier(0.075, 0.82, 0.165, 1) infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.vorteil-desc {
  @apply text-center text-sm 2xl:text-lg leading-5 xl:leading-[1.5rem] 2xl:leading-[2rem] xl:tracking-widest 2xl:tracking-[0.12em];
}
.headericons {
  @apply w-6 h-6 xxs:w-7 xxs:h-7 lg:w-6 lg:h-6 2xl:h-7 2xl:w-7;
}
.card_heading {
  @apply font-semibold text-xl xl:text-3xl;
}
.card {
  @apply flex flex-col relative overflow-hidden h-80 xl:h-72 text-center rounded-xl items-center justify-center tracking-[0.2em] px-9 py-7;
  box-shadow: 3px 3px 14px 0 rgba(0, 0, 0, 0.42);
}

.headings {
  @apply text-center text-2xl w-[75%] xl:text-[43px] 2xl:text-[52px] font-medium tracking-[0.25em];
}
